<div class="template-alert">
	<style>
	.template-alert {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		background-color: #10182880;
	}
	.alert-box {
		box-sizing: border-box;
		background-color: #FEF0C7;
		border-radius: 8px;
		padding: 32px;
		width: 520px;
		font-family: Arial, sans-serif;
	}
		.alert-icon {
		color: #ff9f00;
		font-size: 48px;
		margin-bottom: 16px;
	}
	.alert-title {
		font-weight: bold;
		color: #B54708;
		font-size: 32px;
		margin-bottom: 8px;
		line-height: 38px;
	}
	.alert-description {
		color: #B54708;
		font-size: 32px;
		line-height: 48px;
		margin-bottom: 20px;
	}
	.button {
		display: inline-block;
		background-color: #F79009;
		color: white;
		border: none;
		border-radius: 8px;
		padding: 10px 10px;
		cursor: pointer;
		font-size: 24px;
		text-decoration: none;
		line-height: 32px;
	}
	</style>
	<div class="alert-box">
		<div class="alert-icon">⚠️</div>
		<div class="alert-title">Template File is empty</div>
		<div class="alert-description">
			Please add in the code for the block via the Code App.
		</div>
		<a href="https://8-80c0bba6b8-lhkcc7.manager.zesty.io/code/file/views/11-b4d4d38cf3-gv4b6b" target="_blank" class="button"><> Edit Template File</a>
  </div>
</div>
